@page
@model IndexModel
@{
    ViewData["Title"] = "Fret Position Calculator";
}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<head>
    <link rel="stylesheet" href="~/bootstrap.min.css" type="text/css" />
    <script src="~/js/indexpagefunctions.js"></script>
</head>

<div>
    <h1 class="display-4">Fret Position Calculator</h1>
    <p></p>
    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationServer01">Number of Frets</label>
                <input type="number" class="form-control" id="numberOfFretsFormBox" placeholder="Ex.... 21, 22, 24" min="1" max="50" step="1" required>
                <div class="valid-feedback">
                    Valid Value Entered!
                </div>
                <div class="invalid-feedback">
                    Please enter a WHOLE integer between 1 and 50!
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="validationServer02">Scale Length (In.)</label>
                <input type="number" class="form-control" id="scaleLengthFormBox" placeholder="Ex.... 24.75, 25, 25.5" min="1" max="100" step=".01" required>
                <div class="valid-feedback">
                    Valid Value Entered!
                </div>
                <div class="invalid-feedback">
                    Please enter a decimal between 1 and 100!
                </div>
            </div>
        </div>

        <div class="form-row">
            <button class="btn btn-primary btn-lg" id="calculateButton" type="button" onclick="buttonCalculation()" disabled="disabled">Calculate</button>
            <button class="btn btn-primary btn-lg" id="resetButton" type="button" onclick="window.location.reload()">Reset Form</button>
        </div>
    </form>

    <br />

    <table class="table table-striped table-dark table-sm">
        <thead>
            <tr>
                <th scope="col">Fret Number</th>
                <th scope="col">Distance from Nut (In.)</th>
            </tr>
        </thead>
        <tbody id="calculationTableData"></tbody>
    </table>
</div>

<script>document.getElementById('numberOfFretsFormBox').focus();</script>